
/*  variables */
$black:         #777777;
$red:           #B03420;
$light-red:     #C18D86;
$blue:          #4C7A96;
$yellow:        orange;
$green:         green;
$white:         #fff;
$border:        #ccc;
$font-family:   "Helvetica Neue", Helvetica, Arial, sans-serif;
$header-size:   50px;
$header-space:  10px;


/*  main css */
body {
  background: $white;
  font-family: $font-family;
  color: $black;
  margin: 0;
  padding: 0;
  height: 100%;
}

// overrides pure
.pure-table {
  border: none;
  th, td {
    padding: 0;

    * {
      padding: 20px 10px;
    }
  }
}


//hack for mobile active link
a {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  text-decoration: none;
  color: $black;
}

#body {
  margin-top: ($header-size + $header-space);
  height: 8000px;
}

#header {
  position: fixed;
  top: 0;
  background: $white;
  color: $red;
  border-bottom: 1px solid $black;
  height: 50px;
  font-size: 1.3em;
  font-weight: bold;

  li {
    margin-top: 5px;

    a {
      &:hover, &:focus, &:active {
        background: none;
      }
      &.glyphicon {
        color: $red;
        border-right: 1px solid $black;
      }
    }

    .location {
      text-transform: capitalize;
    }
  }
  ul ul {
    left: 0;
    top: $header-size;
    visibility: visible;
    display: none;
    background: $white;
    border: 1px solid $black;
  }
}

.menu-elem {
  display: block;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border: 1px solid $black;
  position: relative;
  color: $black;

  .glyphicon {
    padding-top: 10px;
  }

  .legend {
    border-top: 1px solid $black;
    padding: 10px 0;
    color: $red;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
    width: auto;
  }

}

.pure-table.instances {
  margin-top: - $header-space;
  thead {
    color: $white;
    background: $red;
    position: fixed;
    z-index: 1;
  }

  .instance a {
    display: block;
  }

  .actions a {
    display: inline-block;
  }

  .state {
    text-align: center;
  }

  .actions {
    text-align: center;
  }
}


.instance {

  .heading {
    font-size: 1.1em;
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
    margin: 0 10%;
    border-bottom: 1px solid $black;
  }
}
