
/*  variables */
$black: #777777;
$red: #B03420;
$blue: #4C7A96;
$white: #fff;
$border: #ccc;
$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$header-size: 50px;


/*  main css */
body {
    background: $white;
    font-family: $font-family;
    color: $black;
    margin: 0;
    padding: 0;
    height: 100%;
}


#header {
    position: fixed;
    top: 0;
    background: $white;
    color: $black;
    border-bottom: 1px solid $black;
    height: 50px;
    font-size: 1.2em;
    font-weight: bold;
}


.pure-menu.pure-menu-horizontal {
    color: inherit;

    .pure-menu-heading {
        border-right: 1px solid $black;
    }
    .pull-right {
        border-left: 1px solid $black;
        top: 6px;
        height: 35px;
    }
}

.logo {
    display: block;
    padding-left: 40px;
    padding-top: 8px;
    background: url(../images/logo.png) no-repeat;
    height: 35px;
}

#body {
    margin-top: ($header-size + 10px);
    height: 8000px;
}

.pure-menu li a {

    &:hover, &:focus {
        background: none;
    }

    &.glyphicon-user {
        padding: 0px 20px;
    }
}


.menu-elem {
  margin: 10px;
  padding: 10px;
  text-align: center;
  border: 1px solid $black;
  position: relative;

  .glyphicon {
    padding-top: 20px;
  }

  .legend {
    border-top: 1px solid $black;
    padding: 10px 0;
    color: $red;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
    width: auto;
  }
}

.pull-right {
    float: right;
}
