<div class="pure-menu pure-menu-open pure-menu-horizontal" id="header">
  <ul>
    <li><a href="#" class="glyphicon glyphicon-list"></a></li>
    <li dropdown>
      <a class="glyphicon glyphicon-user"></a>
      <ul>
        <li class="pure-menu-heading">demo</li>
        <li class="pure-menu-separator"></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </li>
    <li><a href="#" class="location">{{header}}</a></li>
  </ul>
</div>
