<table class="pure-table pure-table-horizontal pure-g instances">
  <thead class="pure-u-1">
    <tr class="pure-g">
      <th class="pure-u-1-2"><div>Instance name</div></th>
      <th class="pure-u-1-6 state"><div>State</div></th>
      <th class="pure-u-1-3 actions"><div>Actions</div></th>
    </tr>
  </thead>

  <tbody class="pure-u-1" adapt-coor>
    <tr class="pure-g" ng-repeat="instance in instances">
      <td class="pure-u-1-2 instance"><div>{{instance.name}}</div></td>
      <td class="pure-u-1-6 state"><div class="glyphicon" ng-class="glyphicon(instance.power)"></div></td>
      <td class="pure-u-1-3 actions">
        <a href="#" class="glyphicon glyphicon-play"></a>
        <a href="#" class="glyphicon glyphicon-pause"></a>
        <a href="#" class="glyphicon glyphicon-stop"></a>
      </td>
    </tr>
  </tbody>
</table>
