<div class="pure-g">
  <div class="pure-u-1-2">
    <a class="menu-elem instances" href="#/instances" adapt-width>
      <div class="glyphicon glyphicon-cloud"></div>
      <div class="legend">instances</div>
    </a>
  </div>
  <div class="pure-u-1-2">
    <a class="menu-elem volumes" href="#" adapt-width>
      <div class="glyphicon glyphicon-hdd"></div>
      <div class="legend">volumes</div>
    </a>
  </div>

  <div class="pure-u-1-2">
    <a class="menu-elem networks" href="#" adapt-width>
      <div class="glyphicon glyphicon-transfer"></div>
      <div class="legend">networks</div>
    </a>
  </div>
</div>
